<ul class='category-list'>
  <li><%= link_to '料金プラン', "#", class: "border-list" %></li>
  <li><%= link_to '安心・安全', "#", class: "border-list" %></li>
  <li><%= link_to 'ストーリー', "#", class: "border-list" %></li>
  <li><%= link_to 'ヘルプ', "#", class: "border-list" %></li>
  <li><%= link_to 'お知らせ', "#", class: "border-list" %></li>
  <%= link_to "メールアドレスでログイン", "#", class: "login_btn login_btn-gradient" %>
</ul>